In [3]:
import pandas as pd
import numpy as np
import sys
sys.path.append('./utils/')
from utils import common_utils
from utils import data_prepare_utils
import seaborn as sns

# Read Data

In [4]:
full_train_res_path = 'data/okaribe/data/train/cybernatm/2019_01_.csv'
df_full_res = pd.read_csv(full_train_res_path)

In [5]:
df_full_res.columns

Index(['name', 'datetime', 'cycle', 'work', 'Wait', 'Exc', 'Muc', 'Sht', 'Blt',
       'AGF', 'Prf', 'Box', 'Hkp', 'Inv'],
      dtype='object')

In [6]:
meaningful_cols = ['name', 'datetime', 'cycle', 'work', 'Wait', 'Exc', 'Muc', 'Sht', 'Blt',
       'AGF', 'Prf', 'Box', 'Hkp', 'Inv']
df_full_res_clean = df_full_res[meaningful_cols]

In [7]:
df_full_res_clean['datetime'] = pd.to_datetime(df_full_res_clean['datetime'])

In [8]:
df_full_res_clean.head()

,name,datetime,cycle,work,Wait,Exc,Muc,Sht,Blt,AGF,Prf,Box,Hkp,Inv
0,C20190101-0000.jpg,2019-01-01 00:00:00,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,C20190101-0005.jpg,2019-01-01 00:05:00,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,C20190101-0010.jpg,2019-01-01 00:10:00,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,C20190101-0015.jpg,2019-01-01 00:15:00,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,C20190101-0020.jpg,2019-01-01 00:20:00,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Summarize label from one hot

In [9]:
# add label 
df_full_res_clean['label'] = data_prepare_utils.sum_label(df_full_res_clean)

In [10]:
df_full_res_clean.head()

,name,datetime,cycle,work,Wait,Exc,Muc,Sht,Blt,AGF,Prf,Box,Hkp,Inv,label
0,C20190101-0000.jpg,2019-01-01 00:00:00,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,C20190101-0005.jpg,2019-01-01 00:05:00,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,C20190101-0010.jpg,2019-01-01 00:10:00,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,C20190101-0015.jpg,2019-01-01 00:15:00,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,C20190101-0020.jpg,2019-01-01 00:20:00,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Add path (if not exist)

In [12]:
base_path = '/data/okaribe/data/train/cctv/'
paths = []
names =  list(df_full_res_clean['name'])
labels = list(df_full_res_clean['label'])
for n,l in zip(names,labels):
    path = data_prepare_utils.get_path(l,base_path)
    paths.append(path+n)
df_full_res_clean['path'] = paths

In [21]:
df_full_res_clean.columns

Index(['name', 'datetime', 'cycle', 'work', 'Wait', 'Exc', 'Muc', 'Sht', 'Blt',
       'AGF', 'Prf', 'Box', 'Hkp', 'Inv', 'label', 'path'],
      dtype='object')

In [23]:
meaningful_cols = ['path', 'datetime', 'cycle', 'work', 'Wait', 'Exc', 'Muc', 'Sht', 'Blt',
       'AGF', 'Prf', 'Box', 'Hkp', 'Inv','label']
df_full_res_clean = df_full_res_clean[meaningful_cols]
df_full_res_clean.head()

,path,datetime,cycle,work,Wait,Exc,Muc,Sht,Blt,AGF,Prf,Box,Hkp,Inv,label
0,/data/okaribe/data/train/cctv/Wait/C20190101-0...,2019-01-01 00:00:00,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,/data/okaribe/data/train/cctv/Wait/C20190101-0...,2019-01-01 00:05:00,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,/data/okaribe/data/train/cctv/Wait/C20190101-0...,2019-01-01 00:10:00,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,/data/okaribe/data/train/cctv/Wait/C20190101-0...,2019-01-01 00:15:00,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,/data/okaribe/data/train/cctv/Wait/C20190101-0...,2019-01-01 00:20:00,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Save result

In [24]:
save_path = './data/train_data/okaribe_jan.csv'
df_full_res_clean.to_csv(save_path, index=False,)

# Combine all the data set

In [30]:
from glob import glob
df_paths = glob('./result_okaribe/yolo*.csv')
df_paths = df_paths[:-1]

In [33]:
dfs = []
for df_path in df_paths:
    df = pd.read_csv(df_path)
    dfs.append(df)
tot_df = pd.concat(dfs)

/home/rewu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """

In [35]:
tot_df = tot_df.sort_values(by=["datetime"])

In [37]:
save_path = './result_okaribe/yolo_detected_res_all.csv'
tot_df.to_csv(save_path, index=False,)